:root {
  /* COLORS */

  --color-black: #000000;
  --color-white-smoke:whitesmoke; 
  --color-dark-purple: #7D3F80;

  /* FONTS */
  --font-base: italic;


  /* RESPONSIVE */
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
}
