* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
fieldset {
  border: 0;
}

:root {
  /* COLORS */

  --color-black: #000000;
 

  /* NEW COLORS */

  --color-clear-violet:rgba(121, 82, 162, 0.973);
  --color-dark-violet: rgba(60, 3, 129, 0.816);

  /* FONTS */
  --font-base: italic;

  /* NEW FONTS */
  --font-base3: "Roboto", sans-serif;

  /* RESPONSIVE */
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
}
